<h1>Search Results</h1>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @products.each do |prod| %>
			<tr>
				<td><%= prod.name %></td>
				<td><%= prod.price.format %></td>
				<td><%= link_to 'View', prod %></td>
			</tr>
		<% end %>
	</tbody>
</table>