<ul class="nav bg-success">
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Food</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Treats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Medication</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Grooming</a>
  </li>
</ul>