<footer class="footer">
	<div class="container">
		<span class="text-muted">
			&copy; <%= DateTime.now.year %> Zachary Nusbaum
		</span>
		<span class="text-muted">
			&mdash; <%= link_to 'Privacy Policy', privacy_policy_path %>
		</span>
		<span class="text-muted">
			&mdash; <%= link_to 'Terms of Use', terms_path %>
		</span>
	</div>
</footer>