<footer class="footer">
	<div class="container">
		<span class="text-muted">
			&copy; <%= DateTime.now.year %> Zachary Nusbaum
		</span>
		<span class="text-muted">
			&mdash; <%= link_to 'Privacy Policy', '#' %>
		</span>
		<span class="text-muted">
			&mdash; <%= link_to 'Terms of Use', '#' %>
		</span>
	</div>
</footer>